.slider-opacity {
    background: rgba(29, 29, 29, 0.7);
}

.slider-h1 {
    font-size: 46px;
    font-size: 60px;
}

.slider-p {
    font-size: 21px;
}

footer {
    height: 400px;
    margin-top: 120px;
    margin-bottom: 10px;
}

footer p {
    color: #E8E8E8;
    font-size: 16px;
}

.fa-facebook {
    font-size: 20px;
    margin-right: 20px;
}

.fa-twitter {
    font-size: 20px;
    margin-right: 20px;
}

.fa-linkedin {
    font-size: 20px;
    margin-right: 20px;
}

.fa-instagram {
    font-size: 20px;
    margin-right: 20px;
}